:root {
    box-sizing: border-box;

    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    
    --gradient-left: #1CB5E0;
    --gradient-right: #000851;
    --bg-primary: rgba(255, 255, 255, 0.6);
    --bg-secondary: rgba(255, 255, 255, 0.4);
    --page-max-width: 1160px;
    --page-max-height: 760px;
    --text-secondary: rgba(0, 0, 0, 0.3);
    --btn-primary: rgba(255, 255, 255, 1);
    --btn-hover: rgba(255, 255, 255, 0.5);
    --btn-hover-accent: #1CB5E0;
}

input,
textarea,
button {
    font-family: inherit;
}

body {
    min-height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        90deg,
        var(--gradient-left) 0%,
        var(--gradient-right) 100%
    );
}

h1, h2 {
    margin: 0;
}

#container {
    width: 100%;
    max-width: var(--page-max-width);
    max-height: var(--page-max-height);
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 5fr;
    background-color: var(--bg-secondary);
    border-radius: 1rem;
}

#sidebar {
    /* max-height: 100%; */
    background-color: var(--bg-primary);
    /* grid-row: span 1; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    overflow: auto;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    
}

#sidebar-folders,
#sidebar-projects {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
}

#sidebar-folders button,
#sidebar-projects button {
    padding: 0.4rem;
    background-color: var(--btn-primary);
    background-color: transparent;
    border-radius: 1rem;
    border: none;
    transition: 0.3s;
}

#sidebar-folders button:hover,
#sidebar-projects button:hover {
    background-color: var(--btn-hover);
}

#sidebar-folders button:active,
#sidebar-projects button:active  {
    scale: 0.9;
}

main {
    padding: 1rem;
}

#task-board {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task-board-item {
    background-color: var(--bg-primary);
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    /* padding-left: 1rem; */
    border-radius: 1rem;
}

.task-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.task-actions {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 0.5rem;
}

.task-left > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 1rem;
    border: none;
    transition: 0.3s;
}

.task-actions > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--btn-primary);
    border-radius: 1rem;
    border: none;
    transition: 0.3s;
}

.task-left > button:hover {
    scale: 1.2;
}

.task-actions > button:hover {
    background-color: var(--btn-hover);
}

.task-actions > button:active {
    scale: 0.9;
}

.task-actions > button > img {
    align-self: center;
}

#project-board {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.project-board-item {
}

#sidebar-folders button,
#sidebar-projects button {
    text-align: left;
}

.priority-1-task {
    /* border-left: 0.5rem solid red; */
}

.priority-2-task {
    /* border-left: 0.5rem solid yellow; */
}

.priority-3-task {
    /* border-left: 0.5rem solid green; */
}

.task-done {
    color: var(--text-secondary);
    text-decoration: line-through;
}

.hidden {
    display: none;
}